MONGODB_PASS=
MONGODB_URI=
PORT=3000
SALT_ROUNDS=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_EXPIRY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
NODE_ENV=
MAX_REFRESH_TOKEN_EXPIRY=
GEMINI_API_KEY=
REDIS_URL=
CORS=